.ModalError{
  position:absolute;
  top:64px;
  width:100%;
  height:80px;
  display:flex;
  flex-direction:row;
  justify-content:flex-start;
  align-items:center;
  padding:24px 32px;
  background:#FEEBEA;
  border:1.5px solid #F42C4F;
  gap:10px;
  border-radius:5px;
  z-index:101;
}
.ModalError__close{
  all:unset;
  min-height:24px;
  min-width:24px;
  cursor:pointer;
}
.ModalError p{
  font-weight:600;
  font-size:16px;
  line-height:24px;
  margin-right:auto;
}
@media screen and (max-width:352px) {
  .ModalError p{
    font-size:14px;
    line-height:18px;
  }
  .ModalError{
    height:78px;
    padding:12px 16px;
    height:78px;
  }
}
@media screen and (max-width:320px) {
  .ModalError{

    align-items:flex-start;
    height:78px;
    width:280px;
  }
  .ModalError p{
    letter-spacing:-0.2px;
  }
  .ModalError__close{
    min-height:16px;
    min-width:16px;
  }
  .ModalError__close img{
    display:block;
  }

}
.ModalError_hidden{
  visibility:hidden;
}
