@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
body {
  height:100%;
  justify-content:center;
  scroll-behavior:smooth;
  text-rendering:optimizeSpeed;
  font-family:'Montserrat', sans-serif;
  font-size:14px;
  line-height:18px;
  font-weight:400;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  background-color:#ffffff;
  color:#363636;
  letter-spacing:0.1px;
}
*,
*:before,
*:after {
  box-sizing:border-box;
}
ul,
ol {
  margin:0;
  padding:0;
  list-style:none;
}
body,
h1,
h2,
h3,
h4,
h5,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin:0;
}
a {
  text-decoration:none;
  color:inherit;
}
a:not([class]) {
  text-decoration-skip-ink:auto;
}
img {
  max-width:100%;
  display:block;
}
article > * + * {
  margin-top:1em;
}
input,
button,
textarea,
select {
  padding:0;
  font:inherit;
}
h1{
  font-size:52px;
  line-height:64px;
}
h2{
  font-size:44px;
  line-height:54px;
}
h3{
  font-size:32px;
  line-height:40px;
}
h4{
  font-size:24px;
  line-height:30px;
}
h5{
  font-size:18px;
  line-height:28px;
}
.layout{
  position:relative;
  max-width:1110px;
}
.layout-main-page,
.layout{
  display:flex;
  flex-direction:column;
  align-items:center;
  margin:0 auto;

}
.layout-main-page{
  min-height:100vh;
  max-width:1120px;
}
.swiper-pagination {
  bottom:0px !important;
}
.swiper-pagination-bullet{
  width:9px;
  height:9px;

  background:#363636;
  transform:rotate(-180deg);
}

@media screen and (max-width:768px) {
  .swiper-wrapper{
    padding-bottom:30px;
  }

}

